<div class="container pt-3">
    <div class="about-content">
        <p class="about-about-text">About</p>
        <label class="about-description-text"><p><%= t('.description1') %></p></label>
        <p class="about-description-text"><%= t('.description2') %></p>
    </div>
    <div class="about-blogs-padding">
        <%= render 'partisl/blogs' %>
    </div>
</div>