<div class="container pt-3">
    <div class="about-content">
        <p class="about-about-text"><%= t('partisl.aboutText') %></p>
        <label class="about-description-text"><p><%= t('about.description1') %></p></label>
        <p class="about-description-text"><%= t('about.description2') %></p>
    </div>
    <div class="about-blogs-padding">
        <%= render 'partisl/blogs' %>
    </div>
</div>