<div class="container text-center">
    <div><%= image_tag "Group 2@2x.png" %></div>
    <div class="home-workbit-text"><%= image_tag "workbit.png" %></div>
    <div class="home-description-text"><%= t('.description') %></div>
    <div class="home-btn"><button type="button" class="btn home-btn-text"><label class="text-start">Get Started</label></button></div>
    <div class="home-blogs-padding">
        <%= render 'partisl/blogs' %>
    </div>
</div>