<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">
        Copyright © 2020 Workbit. All Rights Reserved
    </div>
    <div class="container justify-content-center">
        Language:
        <%= link_to 'English', root_path(locale: :en) %>,
        <%= link_to 'Deutsch', root_path(locale: :de) %>
    </div>
</footer>